@font-face {
    font-family: 'Inter-Regular';
    src: url('./fonts/Inter-Regular.ttf');
}

@font-face {
    font-family: 'Inter-Bold';
    src: url('./fonts/Inter-Bold.ttf');
}

/* global */
body { 
    background-color: white;
}

/* index */
#index {
    border: 1px hidden;
    border-color: black;
    width: 1050px;
    margin: 0 auto;
    padding-top: 50px;
}

/* post */
p {
    color: black;
    font-size: 17px;
    font-family: 'Inter-Regular', sans-serif;
}

a {
	color: blue;
	text-decoration: none;
    font-family: 'Inter-Regular', sans-serif;
}

span { 
    color: black;
}

pre code {
    color: black;
}

pre { 
    color: black;
}

mark {
    background-color: yellow;
    color: black;
}

img { 
    max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

h1, h2, h3, h4, h5, h6 {
    color: black; 
    font-family: 'Inter-Bold', sans-serif;
}

h1 {
    font-size: 35px;
}

ul {
    font-family: 'Inter-Regular', sans-serif;
    font-size: 17px;
    color: black; 
}

ol {
    font-family: 'Inter-Regular', sans-serif;
    color: black; 
    font-size: 17px;
}

details, summary {
    font-family: 'Inter-Regular', sans-serif;
    font-size: 17px;
}

blockquote  {
    border-left: 3px solid black;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    margin-left: 1.5em;
    font-family: 'Inter-Regular', sans-serif;
    font-size: 17px;
}

blockquote:before {
    color: black; 
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
    font-family: 'Inter-Regular', sans-serif;
    font-size: 17px;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    font-size: 17px;
    color: black; 
    font-family: 'Inter-Regular', sans-serif;
    padding: 6px 13px;
}

strong {
    color: black;
    font-size: 17.5px;
    font-family: 'Inter-Regular', sans-serif;
}

details summary {
    cursor: pointer;
    border-width: 1px;
    width: auto;
    height: auto;
    border-style: solid;
    border-color:rgb(71, 71, 71);
    color: black; 
}

details p { 
    border-width: 1px;
    width: auto;
    height: auto;
    margin: auto;
    border-style: solid;
    border-color:rgb(71, 71, 71);
    color: black; 
}

details summary > * {
    display: inline;
}

article {
    border-style: 1px hidden;
    border-color: black;
    width: 1050px;
    margin: 0 auto;
    padding-top: 50px;
}

code {
    font-size: 14px;
}

/* post list */

#list-container {
    border: 1px hidden;
    border-color: black;
    width: 500px;
    margin: 0 auto;
    padding-top: 60px;
}

.post-li {
    list-style: none;
    padding-top: 20px;
    font-family: 'Inter-Regular', sans-serif;
}
